
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('../image/view.jpg');
  background-size: cover; 
}

a {text-decoration: none;}

.menu {
  margin: auto;
  width: 1000px;
}

ul {
   
  padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  list-style: none;
}

nav {
  background: #0ca0d6;
  font-size: 0;
  display: flex;      
}

nav > ul > li {
  display: inline-block;
    font-size: 14px;
    padding: 0 15px;
    position: relative;
}

nav > ul > li > a {
  color: #fff;
    display: block;
    padding: 20px 0;
    border-bottom: 3px solid transparent;
    transition: all .3s ease;
}
nav > ul > li:hover > a {
  color: #444; 
    border-bottom: 3px solid #444;
}
  
  .logo img{
    width: 80px;
    height: 80px;
  
  }
  img {
  
    width: 80px;
    height: 80px;
    
  }
  
  .localizacao{
 margin-top: 25px;
 margin-bottom: 50px;
 display: flex;
 align-items: center;
 justify-content: center;
  }

  .cabeçalho {
    width: 80%;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    padding: 25px;
    background: #0ca0d6;
    border-radius: 15px;
    margin: 15px;
    
  }
  .container {
    display: flex;
    justify-content: center;
  }